<form action="/hello" method="post" class="namecard-form">
	<label for="username" class="namecard-prompt">Please enter your name:</label>
	<input type="text" id="username" name="username" class="namecard-name"/>
	<button class="namecard-submit" type="submit">Submit</button>
</form>
