
{{#if name}}
	<h2>Welcome {{name}}!</h2>
{{else}}
	<form action="/hello" method="post">
		<label for="username">Please enter your name:</label>
		<input type="text" id="username" name="username" />
		<button type>Submit</button>
	</form>
{{/if}}
